@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';
body {
  .btn {
    margin-left: 10px;
  }
  .card {
    margin-top: 15px;
    .card-img-top {
      height: 200px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
