-
  const app = {
    name: 'gulp-typescript-pug-sass',
    version: '2018.1.7',
  }

-
  const developers = [
    { name: 'Alefe Souza', image: 'https://github.com/alefesouza.png', },
    { name: 'Ada Lovelace', image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Ada_Lovelace_portrait.jpg/800px-Ada_Lovelace_portrait.jpg', },
    { name: 'Charles Babbage', image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Charles_Babbage_-_1860.jpg/220px-Charles_Babbage_-_1860.jpg', },
    { name: 'Alan Turing', image: 'https://upload.wikimedia.org/wikipedia/commons/a/a1/Alan_Turing_Aged_16.jpg', },
    { name: 'Dennis Ritchie', image: 'https://upload.wikimedia.org/wikipedia/commons/2/23/Dennis_Ritchie_2011.jpg', },
  ]