include _variables

doctype
html
  include _head
  body
    include _navbar
    .container
      .example-btn Custom Bootstrap button color:
        .btn.btn-primary Primary
        .btn.btn-warning Warning
        .btn.btn-danger Danger

      .row
        each developer in developers
          .col-12.col-md-6.col-lg-4
            include _devcard

    script(src='bundle.min.js?v=' + app.version)
